/* line 13, ../sass/style.scss */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/style.scss */
section {
  font-size: 0;
}

/* line 35, ../sass/style.scss */
.top-content {
  margin-bottom: 75px;
}
/* line 37, ../sass/style.scss */
.top-content .header-law-title {
  font-family: "Elektra Medium Pro Regular", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin: 0 !important;
}
/* line 43, ../sass/style.scss */
.top-content .header-about-law {
  font-family: "Roboto Light", Arial, sans-serif;
  font-size: 21px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* line 51, ../sass/style.scss */
.header-section-description {
  margin: 0;
  padding: 0;
}
/* line 54, ../sass/style.scss */
.header-section-description .law-description {
  position: relative;
  padding-left: 115px;
  font-family: "Roboto Regular", Arial, sans-serif;
}
/* line 59, ../sass/style.scss */
.header-section-description .law-description:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 84px;
  background: url(../images/law/FZ134.png) no-repeat;
}
/* line 68, ../sass/style.scss */
.header-section-description .law-description:last-child:after {
  display: none;
}

/* line 75, ../sass/style.scss */
.main-content {
  margin-bottom: 35px;
}
/* line 78, ../sass/style.scss */
.main-content .main-law-title {
  font-family: "Elektra Medium Pro Regular", Arial, sans-serif;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 10px;
}
/* line 84, ../sass/style.scss */
.main-content .main-about-law {
  font-family: "Roboto Light", Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 25px;
}

/* line 90, ../sass/style.scss */
.main-section-description {
  margin: 0;
  padding: 0;
}
/* line 94, ../sass/style.scss */
.main-section-description p {
  font-family: "Roboto Regular", Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}
/* line 99, ../sass/style.scss */
.main-section-description p:first-child {
  font-weight: bold;
  font-size: 18px;
  font-family: "Roboto Medium", Arial, sans-serif;
}
/* line 104, ../sass/style.scss */
.main-section-description p:last-child {
  margin-bottom: 30px;
}

/* line 111, ../sass/style.scss */
.footer-section-description {
  margin: 0;
  padding: 0;
}
/* line 115, ../sass/style.scss */
.footer-section-description .law-description-footer {
  position: relative;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-size: 15px;
  padding-left: 110px;
  margin-bottom: 0;
}
/* line 123, ../sass/style.scss */
.footer-section-description .law-description-footer:first-child {
  padding-top: 35px;
  margin-bottom: 20px;
  border-top: 1px solid black;
}
/* line 128, ../sass/style.scss */
.footer-section-description .law-description-footer:first-child:after {
  content: "";
  position: absolute;
  top: 90px;
  left: 15px;
  width: 64px;
  height: 60px;
  background: url(../images/law/BlueSymb.png) no-repeat;
}
/* line 137, ../sass/style.scss */
.footer-section-description .law-description-footer:nth-child(2n) {
  padding-bottom: 35px;
  border-bottom: 1px solid black;
}
/* line 141, ../sass/style.scss */
.footer-section-description .law-description-footer:nth-child(3n) {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
/* line 147, ../sass/style.scss */
.footer-section-description .law-description-footer:nth-child(3n):after {
  content: "";
  position: absolute;
  top: 35px;
  left: 15px;
  width: 67px;
  height: 60px;
  background: url(../images/law/RedSymb.png) no-repeat;
}
/* line 157, ../sass/style.scss */
.footer-section-description .btn-order {
  float: right;
  width: 23%;
  min-height: 20px;
  padding: 10px 30px 10px 35px;
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border: none;
  outline: none;
  text-decoration: none;
  color: white;
  background-color: #FF3838;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 178, ../sass/style.scss */
.footer-section-description .btn-order:hover {
  opacity: 1;
  background-color: #FF2020;
}

/* line 187, ../sass/style.scss */
.modal-block {
  display: block;
  position: fixed;
  width: 550px;
  height: 380px;
  display: block;
  top: 40%;
  left: 35%;
  margin: 0;
  padding: 0;
  z-index: 5;
  background-color: #4586c1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 10px 21px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 10px 21px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 10px 21px -4px rgba(0, 0, 0, 0.5);
}
/* line 208, ../sass/style.scss */
.modal-block .header-modal {
  width: 440px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/* line 218, ../sass/style.scss */
.login-form {
  width: 510px;
  height: 290px;
  border: 5px solid white;
  margin-left: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 225, ../sass/style.scss */
.login-form label {
  display: block;
  width: 250px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  color: white;
}
/* line 234, ../sass/style.scss */
.login-form label:first-child {
  margin-top: 10px;
}
/* line 238, ../sass/style.scss */
.login-form input {
  display: block;
  width: 250px;
  font-size: 12px;
  min-height: 30px;
  padding: 10px 5px 10px 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: #346898;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 258, ../sass/style.scss */
.login-form input:hover {
  opacity: 0.8;
  border: 2px dotted #346898;
}
/* line 262, ../sass/style.scss */
.login-form input:focus {
  opacity: 0.6;
  border: 2px solid #346898;
}
/* line 267, ../sass/style.scss */
.login-form .btn-send {
  display: block;
  width: 100px;
  font-size: 12px;
  min-height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #FF3838;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 283, ../sass/style.scss */
.login-form .btn-send:hover {
  border: none;
  opacity: 0.9;
  background-color: #FF2020;
  transform: scale(1.15, 1.15);
}

/* line 294, ../sass/style.scss */
.modal-block-success {
  display: none;
  position: fixed;
  top: 56%;
  left: 41%;
  margin: 0;
  padding: 0;
  width: 306px;
  height: 120px;
  border: 3px solid #FF3838;
  background-color: #346898;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 307, ../sass/style.scss */
.modal-block-success p {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: white;
}
/* line 315, ../sass/style.scss */
.modal-block-success a {
  display: block;
  width: 100px;
  min-height: 35px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #FF3838;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 333, ../sass/style.scss */
.modal-block-success a:hover {
  opacity: 0.9;
  background-color: #FF2020;
  text-decoration: none;
  transform: scale(1.15, 1.15);
}

/* line 343, ../sass/style.scss */
.hide {
  display: none;
}

/* line 346, ../sass/style.scss */
.show {
  display: block;
  -webkit-animation: bounce .6s;
  animation: bounce .6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
