// Color
$first_block_color: #d2dd99;
$button_order_color: #FF3838;
$button_order_color_hover: #FF2020;
// Font-size

// Width
$first_block_width: 40%;

$modal_color_bg: #4586c1;
$modal_input_color_bg: #346898;

.clearfix {
	content: "";
	display: table;
	clear: both;
}

section {
	font-size: 0;
}

// Mixins
@mixin border-radius($box_border_radius) {
	-webkit-border-radius: $box_border_radius;
	-moz-border-radius: $box_border_radius;
	-ms-border-radius: $box_border_radius;
	-o-border-radius: $box_border_radius;
	border-radius: $box_border_radius;
}


//  First block with text
// Header-content
.top-content {
	margin-bottom: 75px;
	.header-law-title {
		font-family: "Elektra Medium Pro Regular", Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		margin: 0 !important;
		}
		.header-about-law {
		font-family: "Roboto Light", Arial, sans-serif;
		font-size: 21px;
		line-height: 24px;
		margin-top: 5px;
		margin-bottom: 25px;
		}	
	}
	.header-section-description {
		margin: 0;
		padding: 0;
		.law-description {
			position: relative;
			padding-left: 115px;
			font-family: "Roboto Regular", Arial, sans-serif;
			
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 82px;
				height: 84px;
				background:  url(../images/law/FZ134.png) no-repeat;
			}
			&:last-child:after {
				display: none;
			}
		}
	}

// body-content
.main-content {
	margin-bottom: 35px;

	.main-law-title {
		font-family: "Elektra Medium Pro Regular", Arial, sans-serif;
		font-size: 32px;
		line-height: 42px;
		margin-bottom: 10px;
	}
	.main-about-law {
		font-family: "Roboto Light", Arial, sans-serif;
		margin-top: 0px;
		margin-bottom: 25px;
	}
}
.main-section-description {
	margin: 0;
	padding: 0;

	p {
		font-family: "Roboto Regular", Arial, sans-serif;
		font-size: 15px;
		margin-bottom: 10px;

		&:first-child {
			font-weight: bold;
			font-size: 18px;
			font-family: "Roboto Medium", Arial, sans-serif;
		}
		&:last-child {
			margin-bottom: 30px;
		}
	}
}

//footer
.footer-section-description {
	margin: 0;
	padding: 0;

	.law-description-footer {
		position: relative;
		font-family: "Roboto Regular", Arial, sans-serif;
		font-size: 15px;
		padding-left: 110px;
		margin-bottom: 0;
		

		&:first-child {
			padding-top: 35px;
			margin-bottom: 20px;
			border-top: 1px solid black; 
		}
		&:first-child:after {
			content: "";
			position: absolute;
			top: 90px;
			left: 15px;
			width: 64px;
			height: 60px;
			background: url(../images/law/BlueSymb.png) no-repeat;
		}
		&:nth-child(2n) {
			padding-bottom: 35px;
			border-bottom: 1px solid black;
		}
		&:nth-child(3n) {
			padding-top: 35px;
			padding-bottom: 35px;
			margin-bottom: 20px;
			border-bottom: 1px solid black;
		}
		&:nth-child(3n):after {
			content: "";
			position: absolute;
			top: 35px;
			left: 15px;
			width: 67px;
			height: 60px;
			background: url(../images/law/RedSymb.png) no-repeat;
		}
	}
	.btn-order {
		float: right;
		width: 23%;
		min-height: 20px;
		padding: 10px 30px 10px 35px;
		font-family: "Elektra Text Pro", Arial, sans-serif;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		border: none;
		outline: none;
		text-decoration: none;
		color: white;
		background-color: $button_order_color;
		@include border-radius(15px);
		opacity: 0.9;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:hover {
			opacity: 1;
			background-color: $button_order_color_hover;
		}
	}
}

// Modal windows
// Main block
.modal-block {
	$modal_popup_width: 550px;
	$modal_popup_height: 380px;

	display: block;
	position: absolute;
	width: $modal_popup_width;
	height: $modal_popup_height;
	display: block;
	margin: 0;
	padding: 0;
	z-index: 5;
	background-color: $modal_color_bg;

	@include border-radius(10px);
	-webkit-box-shadow: 6px 10px 21px -4px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 10px 21px -4px rgba(0,0,0,0.5);
	box-shadow: 6px 10px 21px -4px rgba(0,0,0,0.5);

	.header-modal {
		width: 440px;
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		color: white;
	}
}
form {
	width: 510px;
	height: 290px;
	border: 5px solid white;
	margin-left: 20px;
	@include border-radius(10px);
	
	label {
		display: block;
		width: 250px;
		font-size: 16px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		color: white;

		&:first-child {
			margin-top: 10px;
		}
	}
	input {
		display: block;
		width: 250px;
		font-size: 12px;
		min-height: 30px;
		padding: 10px 5px 10px 5px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		border: 2px solid white;
		outline: none;
		color: white;
		background-color: $modal_input_color_bg;
		@include border-radius(10px);
		opacity: 0.8;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;


		&:hover {
			opacity: 0.8;
			border: 2px dotted $modal_input_color_bg;
		}
		&:focus {
			opacity: 0.6;
			border: 2px solid $modal_input_color_bg;
		}
	}
	.btn-send { 
		display: block;
		width: 100px;
		font-size: 12px;
		min-height: 20px;
		margin-left: auto;
		margin-right: auto;
		@include border-radius(10px);
		border: none;
		outline: none;
		color: white;
		background-color: $button_order_color;
		-webkit-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

		&:hover {
			border:none;
			opacity: 0.9;
			background-color: $button_order_color_hover;
			transform: scale(1.15, 1.15);
		}

	}
}

//Success window
.modal-block-success {
	display: none;
	position: absolute;
	top: 35%;
	left: 23%;
	margin: 0;
	padding: 0;
	width: 306px;
	height: 120px;
	border: 3px solid  $button_order_color;
	background-color: $modal_input_color_bg;
	@include border-radius(10px);

	p {
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
		font-size: 12px;
		color: white;
	}
	a {
		display: block;
		width: 100px;
		min-height: 35px;
		padding: 5px 5px 5px 5px;
		text-align: center;
		font-size: 16px;
		margin-left: auto;
		margin-right: auto;
		@include border-radius(10px);
		border: none;
		outline: none;
		color: white;
		background-color: $button_order_color;
		-webkit-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

		&:hover {
			opacity: 0.9;
			background-color: $button_order_color_hover;
			text-decoration: none;
			transform: scale(1.15, 1.15);
		}
	}
}

// layers show and disapear
.hide {
	display: none;
}
.show {
	display: block;
	//animation
	-webkit-animation: bounce .6s;
	        animation: bounce .6s;
}

// Animation
@-webkit-keyframes bounce {
	0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px);}
	70% { -webkit-transform: translateY(30px); transform: translateY(30px);}
	90% { -webkit-transform: translateY(-10px); transform: translateY(-10px);}
	100% { -webkit-transform: translateY(0); transform: translateY(0);}
	
}
@keyframes bounce {
	0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px);}
	70% { -webkit-transform: translateY(30px); transform: translateY(30px);}
	90% { -webkit-transform: translateY(-10px); transform: translateY(-10px);}
	100% { -webkit-transform: translateY(0); transform: translateY(0);}
	
}